/* CSS Document */

*{margin: 0; padding: 0;}

html{
    background-color: white;
}

body{
    margin: 0 auto;
    width: 1004px;;
    background-color: #fcfaf2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #634d44;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #634d44;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    
}

header{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 35% 30% 35%;
    line-height: 150px;
    padding: 20px;
    
}

#logo img{
    width: 150px;
    height: 120px;
}

#find{
    margin: 0 auto;
}

form{
    width: 100%;
    height: 100%;
    padding-top: 54px;
}

input, button {
    border: none;
    outline: none;
    background: #F9F0DA;
}

input {
    float: left;
    width: 80%;
    height: 42px;
    padding-left: 15px;
}
button {
    float: left;
    height: 42px;
    width: 42px;
    cursor: pointer;
}

header li{
    line-height: 3em;
}

#head_contact {
    text-align: right;
}

#head_contact p {
    line-height: 30px;
    margin: 10px 0;
}

#head_contact a{
margin-left: 10px;
font-size: 20px;
    text-transform: none
}

.social i{
    margin: 0 10px;
}

#head_navbar ul{
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 25% 25% 25% 25%;
}


#head_navbar li:last-child{
    border-right: none;
}


#head_navbar li{
    border-right: 1px solid #002855;
    text-align: center;
    line-height: 40px;
}

#head_navbar a{
    display: block;
}

#head_navbar a:hover{
    background-color: #002855;
    opacity: .8;
    color: #fcfaf2;
}


#wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 40px;
    padding: 0 20px;
}

#side_navbar li{
    line-height: 2em;
}

.first_level li{
    
}

.second_level-1 li, .second_level-2 li{
    padding-left: 40px;
}

.first_level a, .second_level-1 a, .second_level-2 a{
    display: block;
    text-transform: capitalize;
}

.second_level-1 a, .second_level-2 a{
    font-size: 18px;
}


.second_level-1 a:active, .second_level-2 a:active, .second_level-1 a:hover, .second_level-2 a:hover{
    background-color: #002855;
    opacity: .8;
    color: #fcfaf2;
}


.hide{
    display: none;
}

#main_block{
    
}

#main_block h2{
    margin-bottom: 20px;
    text-align: center
}

#main_descr p{
    font-size: 18px;
    text-align: justify;
    text-indent: 25px;
}

#goods_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.goods{
    float:left;
    margin: 10px 15px;
    
    
}

#goods_block img {
    width: 190px;
    height: 190px;
}

#goods_block p {
    margin: 5px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}




footer{
	width: 100%;
	height: 300px;
}



